<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  </head>
  <body>
    <div th:replace="~{fragments/header :: header}"></div>

    <div class="my-3" style="margin-top: 50px; margin-bottom: 50px">
      <form th:action="@{/dashboard/save}" th:object="${post}" method="post" style="max-width: 1500px; margin: 0 auto">
        <div class="container-fluid text-center", style="width: 1000px; height: 20px; margin: 20px 20px 20px 20px">
          <div class="form-group row">
              <label class="col-sm-3 col-form-label" for="title">Title</label>
              <div class="col-sm-9">
                <input type="text" th:field="*{title}" class="form-control" id="title" />
              </div>
          </div>
        </div>
        <div class="container-fluid text-center", style="width: 1000px; height: 500px; margin: 20px 20px 20px 20px">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="content">Content</label>
            <div class="col-sm-9">
              <textarea th:field="*{content}" class="form-control" id="content" rows="10"></textarea>
            </div>
          </div>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-secondary">Create</button>
        </div>

        <span th:utext="${successMessage}"></span>
        <div class="text-center" th:if="${bindingResult!=null && bindingResult.getAllErrors()!=null}">
          <ul th:each="data : ${bindingResult.getAllErrors()}">
            <li th:text="${data.getObjectName() + ': ' + data.getDefaultMessage()}"></li>
          </ul>
        </div>
      </form>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>
  </body>
</html>