<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0"/>
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  </head>
  <body>
    <div th:replace="~{fragments/header :: header}"></div>

    <div class="container-fluid text-center" style="margin-top: 25px; margin-bottom: 25px">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Number</th>
            <th scope="col">Title</th>
            <th scope="col">User</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="post:${posts}">
            <td th:text="${post.id}"></td>
            <td><a th:href="@{|/posts/${post.id}|}" th:text="${post.title}"></a></td>
            <td th:text="${post.user.username}"></td>
            <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{|/posts/remove/${post.id}|}" class="btn btn-secondary btn-lg" th:text="'Remove'"></a></td>
        </tbody>
      </table>
    </div>

    <div class="container-fluid text-center" style="margin-bottom: 50px">
      <a th:href="@{|/dashboard/new|}" class="btn btn-secondary btn-lg" th:text="'Create new post'"></a>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>
  </body>
</html>