<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0"/>
  <title>My Profile</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
  <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<div class="container-fluid" style="margin-top: 25px; margin-bottom: 25px">
  <h2>Username</h2>
  <p th:text="${user.username}"></p>
  <h2>About me</h2>
  <p th:text="${user.aboutMe}"></p>
  <p>I'm a first year undergraduate COMP student and my interests are Java and Python programming.</p>

  <div class="container-fluid text-center">
    <h2>My todos list</h2>
  </div>

  <div class="my-3">
    <form th:action="@{/profile/todos}" method="post" style="margin: 0 auto">
      <div class="container-fluid text-center" style="display: flex; justify-content: center">
        <div class="form-group row">
          <div class="col-sm-12">
            <input type="text" th:value="${todoText}" class="form-control" id="todoText" name="todoText"/>
          </div>
        </div>
        <button type="submit" class="btn btn-secondary" style="margin-left: 10px">Create</button>
      </div>
      <span th:utext="${successMessage}"></span>
      <div class="text-center" th:if="${bindingResult!=null && bindingResult.getAllErrors()!=null}">
        <ul th:each="data : ${bindingResult.getAllErrors()}">
          <li th:text="${data.getObjectName() + ': ' + data.getDefaultMessage()}"></li>
        </ul>
      </div>
    </form>
  </div>

  <div class="container-fluid text-center">
    <ul id="list" th:each="todo:${todos}" style="text-align: center; list-style-position: inside;">
      <li th:text="${todo.content}"></li>
      <a th:href="@{|/profile/todos/remove/${todo.id}|}" class="btn btn-secondary btn-sm" th:text="'Remove'"></a>
    </ul>
  </div>

  <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>